.container{
    width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.menu{
    display: flex;
    flex: 0 0 25%;
    min-width: 25%;
    flex-direction: column;
    padding: 15px;
    background: #ffffff;
}
.content{
    display: flex;
    flex: 0 0 75%;
    max-width: 75%;
    margin-left: 25px;
}
.wrapper{
    display: flex;
    height: 600px;
}
.menu-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.menu-title{
    padding-left: 10px;
}
.menu-folder{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    border: none;
}
.section{
    background: #000000;
}